baseURL = "https://mbbroberg.fun"
languageCode = "en"
DefaultContentLanguage = "en"
theme = "anatole"
summarylength = 10
enableEmoji = true
enableRobotsTXT = true
publishDir = "public"

# Google Analytics
googleAnalytics = "UA-150450064-1"

# Syntax highlighting
pygmentsUseClasses = true   
pygmentsCodeFences = true
pygmentsCodefencesGuessSyntax = true

[related]
  includeNewer = true
  threshold = 80
  toLower = true
[[related.indices]]
  name = 'keywords'
  weight = 90
[[related.indices]]
  name = 'tags'
  weight = 100

[params]
displayMode = "dark"
contentratio = 0.65
relatedPosts = true
numberOfRelatedPosts = 3
disableArchiveTitleStyling  = true
customCss = ["css/custom.css"]
customJs = ["js/dataview-styler.js"]

[markup]
    [markup.goldmark]
        [markup.goldmark.renderer]
        unsafe=true
[markup.goldmark.parser.attribute]
  block = true

[outputs]
  home = ["HTML", "RSS"]
  section = ["HTML", "RSS"]
  taxonomy = ["HTML"]
  term = ["HTML"]

[services]
  [services.rss]
    limit = 20  # Limit to the 20 most recent articles


[taxonomies]
    tag = "tags"
    garden = "garden"
    state = "state"

[module]
  [[module.imports]]
    path = "github.com/mbbroberg/hugo-garden-module"