<nav class="nav">
    <ul class="list">
        {% if page.title != "Home" %}
            <li class="item">
                <a class="link" href="{{ site.url }}/">Home</a>
            </li>
        {% endif %}

        {% if site.blog.size > 0 %}
                <li class="item">
                    <a class="link" href="{{ site.url }}/tags">Articles</a>
                </li>
        {% endif %}

        <li class="item">
            <a class="link" href="{{ site.url }}/talks">Talks</a>
        </li>

        {% if site.projects == true %}
                <li class="item">
                    <a class="link" href="{{ site.url }}/projects">Projects</a>
                </li>
        {% endif %}

        {% if site.about == true %}
                <li class="item">
                    <a class="link" href="{{ site.url }}/about">About</a>
                </li>
        {% endif %}
    </ul>
</nav>
